/* Bootstrap Overrides */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Page Level */
.form {
    padding-top: 25%;
    padding-left: 30%;
    padding-right: 30%;
}

.formTop {
    display: none;
    padding-left: 30%;
    padding-right: 30%;
}